#loading_media{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 9999;
}
.intro--banner {
	position: absolute;
	top: 20%;
	left: 10%;
}

#pack_show {
	position: absolute;
	top: 20%;
  opacity: 0;
}

#pack_show h1 {
	position: absolute;
    top: -100px;
    left:30px;
}

#gen_controls {
	position: absolute;
	top: -40px;
    left:0px;
	width: 1000px;
	display: flex;
	align-items: center;
}

#gen_controls_checkbox {
	padding-left: 75px;
	padding-right: 75px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.speed_slider {
	padding-right: 30px;
}
#etfatsetsertsret{
    position: absolute;
    top:14px;
    left:220px;

}

#garogfanog {
	position: relative;
	top: 14px;
}

#pack_count {
	position: absolute;
	top: -10px;
	right: 0px;
	font-size: 30px;
    opacity: .5;
}
.pack_btn{
    position: relative;
    left:30px;
}
.btn {
	position: relative;
	top: 12px;
	width: 35px;
	height: 35px;
	border-radius: 3px;
	cursor: pointer;
	-webkit-transition: border 0.1s ease-in-out;
	transition: border 0.1s ease-in-out;
}

.btn:hover {
	border: #333 3px solid;
}

.btn:hover .bar {
	background-color: #333;
}

.btn .bar {
	display: inline-block;
	position: absolute;
	top: 7px;
	left: -3px;
	width: 3px;
	height: 20px;
	border-radius: 3px;
	background-color: white;
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transition: background 0.1s ease-in-out, -webkit-transform 0.4s ease-in-out;
	transition: background 0.1s ease-in-out, -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out, background 0.1s ease-in-out;
	transition: transform 0.4s ease-in-out, background 0.1s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.btn.pause .bar-1 {
	-webkit-transform: translateX(13.5px) translateY(0px) rotate(0deg);
	transform: translateX(13.5px) translateY(0px) rotate(0deg);
}

.btn.pause .bar-2 {
	-webkit-transform: translateX(24px) translateY(0px) rotate(0deg);
	transform: translateX(24px) translateY(0px) rotate(0deg);
}

.btn.play .bar-1 {
	-webkit-transform: translateX(20px) translateY(-5px) rotate(-55deg);
	transform: translateX(20px) translateY(-5px) rotate(-55deg);
}

.btn.play .bar-2 {
	-webkit-transform: translateX(20px) translateY(5px) rotate(-125deg);
	transform: translateX(20px) translateY(5px) rotate(-125deg);
}
#generate_button{
    z-index: 9999;
}
#pack_box {
	position: absolute;
	top: 100px;
	width: 1000px;
	height: 550px;
	overflow-y: scroll;
}

input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
}

#label {
	position: relative;
	bottom: 15px;
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: grey;
	display: block;
	border-radius: 100px;
}

#label:after {
	content: '';
	position: absolute;
	top: 1px;
	left: .1px;
	width: 22.5px;
	height: 22.5px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked+#label {
	background: #bada55;
}

input:checked+#label:after {
	left: 100%;
	transform: translateX(-100%);
}

#label:active:after {
	width: 30px;
}

#pack_box::-webkit-scrollbar {
	width: 20px;
}

#pack_box::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

#pack_box::-webkit-scrollbar-thumb {
	background: #c0c0c0;
	border-radius: 10px;
}

#pack_box::-webkit-scrollbar-thumb:hover {
	background: #808080;
}


/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}


.options1 {
    position: relative;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    top:153px;
    width: 80%;
    height: 100px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Heebo', sans-serif;
}

.options1 li {
    position: relative;
    float: left;
}

.options1 li a {
    position: relative;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.ideas_box{
    position: absolute;

    top:340px;
    left: 140px;

    height: 600px;
    width: 80%;

    font-size: 31px;
    font-weight: 800;
    font-family: 'Heebo', sans-serif;
}

/*Make a reset buttons and used packs should dissapear per sessons*/
.ideas_box span{
    position: relative;
    width: 100%;
    color: #5264cb;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 20px;
		font-weight: 800;

}
.ideas_box span:hover{
    color:gray;
}

.gen_controls_line{
    position: absolute;
    top:120px;
    width: 1000px;
    height: 4px;
    background-color: aqua;
    box-shadow: 0px 0px 1px aqua;
    border-radius: 50%;
    animation: colorRotate 6s linear 0s infinite;
}





@keyframes colorRotate {
  0% {
    box-shadow: 0px 0px 1px aqua;background-color: aqua;
  }
  50% {
    box-shadow: 0px 0px 1px #0080ff;background-color: #0080ff;
  }
  100% {
    box-shadow: 0px 0px 1px aqua;background-color: aqua;
  }
}

#pack_speed_slider{
    position: absolute;
    width: 150px;
    left: 220px;
    top:52px;
}



input[type=range] {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1;
  height: 2em;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.3em;
  height: 1.3em;
  margin-top: 2.5px;
  background-color: #000;
  border-radius: 1em;
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

input[type=range]:hover::-webkit-slider-thumb {
  border-color: rgba(255, 255, 255, 0.7);
}
input[type=range]:hover::-moz-range-thumb {
  border-color: rgba(255, 255, 255, 0.7);
}
input[type=range]:hover::-ms-thumb {
  border-color: rgba(255, 255, 255, 0.7);
}
input[type=range]:active::-webkit-slider-thumb {
  border-color: #ffffff;

}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  height: 1em;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
}
input[type=range]::-moz-range-track {
  width: 100%;
  cursor: pointer;
  height: 1em;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
}

#ideas_effect{
    position: relative;
    top:120px;
    text-align: center;
  	font: 700 3em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
  	text-shadow: 0 0 80px rgba(255,255,255,.5);
    background: url('https://github.com/C9H9NO3/39dd77ec646d4c87b433ba153e6a33ce92321d633ffff1db8c755737907a3596/blob/main/animated_text_fill_1.jpg?raw=true') repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    transition: 3s;

}
#ideas_effect:hover{
    font: 700 5em/1 "Oswald", sans-serif;
}






.ideas_box_pulse{
    position: absolute;
    top:340px;
    left: 140px;
    height: 600px;
    width: 80%;

}

#idp_left{
    position: absolute;
    left: 0px;
    height: 100%;
    background-color: #105CFF;
    box-shadow: 0px 0px 55px #105CFF;
    width: 8px;
    opacity: 0;
}


#idp_right{
    position: absolute;
    right: 0px;
    height: 100%;
    background-color: #105CFF;
    box-shadow: 0px 0px 55px #105CFF;
    width: 8px;
    opacity: 0;
}

#idp_bottom{
    position: absolute;
    top: -8px;
    width: 100%;
    background-color: #105CFF;
    box-shadow: 0px 0px 55px #105CFF;
    height: 8px;
    opacity: 0;
}

#idp_top{
    position: absolute;
    bottom: -8px;
    width: 100%;
    background-color: #105CFF;
    box-shadow: 0px 0px 55px #105CFF;
    height: 8px;
    opacity: 0;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

.form__field:required, .form__field:invalid {
  box-shadow: none;
}

#pc_h1{
    position: relative;
    top:130px;
    left: 160px;
    font-size: 40px;
}


#pc_input_box{
    position: relative;
    left: 160px;
    top: 150px;
    width: 800px;
    height: 50px;
	border-bottom: 1px solid lightslategray;
	font-size: 20px;
	font-weight: 500;
	opacity: .7;
}
#pc_input_box span{
		pointer-events: none;
}


/*https://jsfiddle.net/Rino_Raj/j4dcbovo/8/*/


#pc_options{
    position: relative;
    top:230px;
    left: 160px;
    width: 800px;
    height: 60px;
    display: flex;
    align-items: center;
}

.pc_option{
    position: relative;
    height: 35px;
    width: 100px;
    border-radius: 22px;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}
.pc_option i{
    opacity: .5;
}

.pc_option_checked{
    position: relative;
    height: 35px;
    width: 100px;
    border-radius: 22px;
    border: 3px solid #032DFF;
    background-color: #032DFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}
.pc_option_checked i{
    opacity: 1;
}

#created_count{
    position: absolute;
    right: 0px;
    font-size: 35px;
    opacity: .03;
}


.pc_section{
    opacity: 0;
}

.pc_section-active{
    opacity: 1;
}

.pc_help{
    position: relative;
    top:270px;
    left: 160px;
		width: 600px;
		height: 700px;
		overflow: scroll;
		margin: 0px;
		padding: 0px;
}
.pc_help::-webkit-scrollbar {
  	display: none;
}


.pc_help h1{
    position: relative;
    bottom:17px;
}
.pc_help p{
    font-size:17px;
    color:#707070;
}

.gray{
    color:#707070;
}
.red{
    color:red;
}
.blueblue{
		color:#40A4FF;
}
.pc_help_line{
    position: relative;
    width: 600px;
    height: 4px;
    top:65px;
    background-color: #ff0000;
		border-radius: 40%;


		box-shadow:
	    inset 0 0 50px #ff0000,      /* inner white */
	    inset 20px 0 80px #ff0000,   /* inner left magenta short */
	    inset -20px 0 80px #ff0000,  /* inner right cyan short */
	    inset 20px 0 300px #ff0000,  /* inner left magenta broad */
	    inset -20px 0 300px #ff0000, /* inner right cyan broad */
	    0 0 50px #ff0000,            /* outer white */
	    -10px 0 80px #ff0000,        /* outer left magenta */
	    10px 0 80px #ff0000;         /* outer right cyan */
	}
    /* filter: drop-shadow(10px 10px 200px #ff0000) drop-shadow(-10px -10px 90px #ff0000); */
/*    animation: pc_help_line_color_rotate 10s infinite ;*/

}

@keyframes pc_help_line_color_rotate {
  0% {
    filter: drop-shadow(10px 10px 200px #ff0000) drop-shadow(-10px -10px 50px #ff0000);
  }
  50% {
    filter: drop-shadow(10px 10px 1000px #ff0000) drop-shadow(-10px -10px 50px #ff0000);
  }
  100% {
    filter: drop-shadow(10px 10px 200px #ff0000) drop-shadow(-10px -10px 50px #ff0000);
  }
}

.gastgregsaergawr{
    line-height: 2;
}




#animal{
    cursor:pointer;
}

#animal:active{
    opacity: 0;
}

#clothes{
    cursor:pointer;
}


@keyframes changeRotate{
    0% {
      color: red;
    }

    17% {
      color: indigo;
    }

    34% {
      color: blue;
    }

    51% {
      color: green;
    }

    68% {
      color: yellow;
    }

    84% {
      color: orange;
    }

    100% {
      color: red;
    }

}


.text_red_pc{
		color:red;
}

.text_blue_pc{
		color:#40E0D0;
}

.text_white_pc{
		color:white;
}







































































@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1),
      2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1),
      -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  25% {
    text-shadow:
      -4px -4px 0 hsla(180, 100%, 50%, 1),
      -3px -3px 0 hsla(180, 100%, 50%, 1),
      -2px -2px 0 hsla(180, 100%, 50%, 1),
      -1px -1px 0 hsla(180, 100%, 50%, 1),
      4px 4px 0 hsla(0, 100%, 50%, 1),
      3px 3px 0 hsla(0, 100%, 50%, 1),
      2px 2px 0 hsla(0, 100%, 50%, 1),
      1px 1px 0 hsla(0, 100%, 50%, 1)
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(0, 100%, 50%, 1),
      -3px 3px 0 hsla(0, 100%, 50%, 1),
      -2px 2px 0 hsla(0, 100%, 50%, 1),
      -1px 1px 0 hsla(0, 100%, 50%, 1),
      4px -4px 0 hsla(180, 100%, 50%, 1),
      3px -3px 0 hsla(180, 100%, 50%, 1),
      2px -2px 0 hsla(180, 100%, 50%, 1),
      1px -1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(180, 100%, 50%, 1),
      3px 3px 0 hsla(180, 100%, 50%, 1),
      2px 2px 0 hsla(180, 100%, 50%, 1),
      1px 1px 0 hsla(180, 100%, 50%, 1),
      -4px -4px 0 hsla(0, 100%, 50%, 1),
      -3px -3px 0 hsla(0, 100%, 50%, 1),
      -2px -2px 0 hsla(0, 100%, 50%, 1),
      -1px -1px 0 hsla(0, 100%, 50%, 1)
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1),
      2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1),
      -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
}








 .gg-bolt {
 box-sizing: border-box;
 position: relative;
 display: block;
 transform: scale(var(--ggs,1));
 width: 6px;
 height: 21px
}

.gg-bolt::after,
.gg-bolt::before {
 content: "";
 display: block;
 box-sizing: border-box;
 position: absolute;
 width: 0;
 height: 0;
 border-left: 3px solid transparent;
 border-right: 3px solid transparent;
 transform: rotate(30deg)
}

.gg-bolt::before {
 border-bottom: 12px solid;
 left: 0;
 top: 0
}

.gg-bolt::after {
 border-top: 12px solid;
 right: 0;
 bottom: 0
}

 .gg-notes {
 box-sizing: border-box;
 position: relative;
 display: block;
 transform: scale(var(--ggs,1));
 width: 20px;
 height: 22px;
 border: 2px solid;
 border-radius: 3px
}

.gg-notes::after,
.gg-notes::before {
 content: "";
 display: block;
 box-sizing: border-box;
 position: absolute;
 border-radius: 3px;
 height: 2px;
 background: currentColor;
 left: 2px
}

.gg-notes::before {
 box-shadow:
 0 4px 0,
 0 8px 0;
 width: 12px;
 top: 2px
}

.gg-notes::after {
 width: 6px;
 top: 14px
}

 .gg-edit-noise {
 box-sizing: border-box;
 position: relative;
 display: block;
 transform: scale(var(--ggs,1));
 width: 16px;
 height: 16px;
 border: 2px solid transparent;
 box-shadow: 0 0 0 2px;
 border-radius: 100px;
 overflow: hidden
}

.gg-edit-noise::before {
 content: "";
 display: block;
 box-sizing: border-box;
 position: absolute;
 width: 12px;
 height: 12px;
 background-image:
 radial-gradient(circle,
 currentColor 25%, transparent 25%),
 radial-gradient(circle,
 currentColor 25%, transparent 25%);
 background-position: 4px 4px,2px 2px;
 background-size: 4px 4px;
}
#testsetettserwtwtwet{
    opacity: 0;
    pointer-events: none;

}
#comingsoongif{

}
.pc_help a{
		font-size: 21px;
		font-weight: 800;
		font-family: 'Heebo', sans-serif;
    color: #5264cb;
    margin-top: 30px;
    margin-right: 20px;
}
.pc_help a:hover{
		color: gray;
}
body {
  background: #000;
  height: 100vh;
  overflow: hidden;
}

#ui {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 230px;
  height: 230px;
  background: #000;
  transform: translate(-50%, -50%);
  filter: blur(5px) contrast(30);
  overflow: hidden;
}
#ui .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  border: 12px solid red;
  overflow: hidden;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 100%;
}
#ui .loader::before {
  content: "ONCOMINGSO";
  position: absolute;
  top: 50%;
  left: 50%;
  color: red;
  font-size: 7rem;
  font-family: "Dosis", sans-serif;
  letter-spacing: 2px;
  white-space: nowrap;
  transform: translate(100%, -60%);
  animation: marquee 10000ms infinite linear;
  text-shadow: 0px 60px 10px rgba(255, 0, 0, 0.6);
}
#ui .loader::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 42px;
  height: 42px;
  margin-left: -21px;
  background: red;
  border-radius: 100%;
  transform-origin: 50% -78px;
  transform: rotateZ(90deg);
  animation: rotate 5000ms infinite linear;
}

@keyframes marquee {
  from {
    transform: translate(-34%, -50%);
  }
  to {
    transform: translate(-68%, -50%);
  }
}
@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.cm h1{
		position: absolute;
		font-size: 60px;
		top: 25%;
		left: 35%;
		width: 100%;
		height: 230px;
}


.pc_text_red_2{
		color:#ff0000
}







#container111111 {
  /* Center the text in the viewport. */
  position: absolute;
  margin: auto;
  width: 100%;
  height: 20%;
  top: 0;
  bottom: 0;
	color:#074EFF;
  /* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
  filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#text1, #text2 {
  position: absolute;
  width: 100%;
  display: inline-block;

  font-size: 80pt;
	font-weight: bold;

  text-align: center;

  user-select: none;
}


a{
	text-decoration:none;
	color:white;
}
h2{
	font-family:"Voltaire";
	text-transform:uppercase;
	margin:0;
}
#scene{
	position:relative;
	top:156px;
	overflow:hidden;
	width:100%;
	border-top: 2px solid #fff;
	opacity: 0;
}
.layer{
	pointer-events: none;
}
.col {
	display: inline-block;
	float: left;
	overflow: hidden;
	position: relative;
	width:12.5%;
	pointer-events: all;
	overflow:initial;
	margin:0 0 30px;
}
.layer.main{
	width:150%;
	position:absolute;
	z-index:1;
	padding:20px;
}
.col a{
	display:block;
	margin:15px;
	overflow:hidden;
	box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.37);
}

.align-bottom {
	position: absolute;
	width: 100%;
	bottom: 0%;
	z-index: 2;
	padding: 15px 20px;
}
.bg-img{
	padding:0px;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-size:cover;
	background-position:50% 50%;
}

@media only screen and (max-width:1200px){
	.layer .col{
		width:16.666%;
	}

}
@media only screen and (max-width:650px){
	.layer .col{
		width:25%;
	}

}
#pic_pack_h1{
		position: absolute;
		top:40px;
		left:39%;
		align-items: center;
		font-size: 40px;
		color: red;
}


#pic_pack_p{
		position: absolute;
		top:93px;
		left:41.3%;
		align-items: center;
		font-size: 25px;
		color:#1f75fe;
		font-weight: 400;


}

#pic_pack_loader{
	position: fixed;
	top:19px;
	left:61%;
	align-items: center;
	height: 130px;
	width: 160px;
	z-index: -9999;
}
#copy_box{
	position: fixed;
	top:100px;
	left:5%;
	opacity: 0;
}

#container__ {
	position: absolute;
	margin: auto;
	width: 100vw;
	height: 80pt;
	top: 25px;
	color:#074EFF;
	left: -16.5%;
	filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#text1, #text2 {
	position: absolute;
	width: 100%;
	display: inline-block;
	font-size: 50pt;
	text-align: center;
	user-select: none;
}



#loading_media_video_div{
	position: absolute;
	left: 9%;
}
